

<h1>Css Binding con angular</h1>

<p>1 # Activar/desactivar clase: {{clase_toggle}}</p>
<div class="{{clase_toggle}}" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti culpa explicabo numquam minima, earum repellendus nihil blanditiis aperiam, tenetur dolorum quis nam nobis ipsa porro eos? Voluptas magni vero non?
</div>

<button (click)="clase_toggle='clase1'">Activar clase1</button>
<button (click)="clase_toggle='none'">Desactivar</button>



<p>2 # Usar el 'disabled' para un botton, activar/desactivar propiedades</p>
<button [disabled]="isDisabled">boton inutil</button>
<button (click)="isDisabled=!isDisabled">cambiar a disabled</button>

